<!-- Begin MailChimp Signup Form -->
<style type="text/css">
  .mce_inline_error {
    background-color: white;
    text-color:#FF6B6B;
  }
</style>
<div id="mc_embed_signup">
  <form action="https://silviamandala.us11.list-manage.com/subscribe/post?u=81972cc930e79f1fa2f373293&amp;id=ac282dc3be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="email-form-div mc-field-group">
        <form class="form-group email-form" name="emailform" action="mailchimp.php" method="post" id="mc-embedded-subscribe">
          <input type="email" class="form-control email-input" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email...">
          <button type="submit" id="email-submit-btn" class="btn submit-btn" onclick="return doSubmit();">Get your invite</button>
          <div id="newsletter-spinner">
            <i class="fa fa-cog fa-spin" style="font-size:24px"></i>
          </div>
        </form>
        <div class="no-spam">Zero spam. Zero upsells. Promise.</div>
      </div>
      <div id="mce-responses" class="clear">
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_81972cc930e79f1fa2f373293_ac282dc3be" tabindex="-1" value=""></div>
    </div>
  </form>
</div>
<script type="text/javascript">
  function doSubmit(){
    document.getElementById("mce-EMAIL").value = "Thank you! :)";
  }
</script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->